* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ol, ul {

    list-style: none;

}

body {

    font-family: Arial, sans-serif;
    background: #f6f6f6;
    overflow-x: hidden;

}

a {

    color: #FF7800;

}

a:visited {

    color: #5B2D8B;

}

:root {

    --sidebar-width: clamp(150px, 20vw, 350px);

}