* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {

    font-family: "Inter";
    src: url(../Fonts/Inter_24pt-Regular.ttf) format('truetype');
    font-weight: 400;

}

@font-face {

    font-family: "WorkSans";
    src: url(../Fonts/WorkSans-Regular.ttf) format('truetype');

}

@font-face {

    font-family: "WorkSansBold";
    src: url(../Fonts/WorkSans-Bold.ttf) format('truetype');

}

ol, ul {

    list-style: none;

}

h1 {

    font-family: "WorkSansBold", sans-serif;
    font-weight: bold;

}

h2, h3 {

     font-family: "WorkSans", sans-serif;

}

body {

    font-family: "Inter", sans-serif;
    background: #f6f6f6;
    overflow-x: hidden;

}

a {

    color: #FF7800;

}

a:visited {

    color: #5B2D8B;

}

:root {

    --sidebar-width: clamp(150px, 20vw, 350px);

}